
.container{
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
}
   .logo{
      display: flex;
      align-items: center;
      justify-content: center; 
   }
   #form{
      display: flex;
      align-items: center;
      justify-content: center;
   }
   #search{
      display: flex;
      align-items: center;
      justify-content: center;
   }
   #lucky{
display: flex;
align-items: center;
justify-content: center;
   }
