:root{

}

body{
   font-family: Arial, sans-serif;
}
.header{

}
.nav{
   display: flex;
   align-items: center;
   width: 100%;
   height: 50px;
}
.leftnav{
   align-items: center;
   justify-content: start;
   display: flex;
   width: 50%;
   padding: 10px;
}
.rightnav{
   align-items: center;
   justify-content: flex-end;
   display: flex;
   width: 50%;
   padding: 10px;
   text-align: right;
}
nav a{
   padding: 5px;
}
a:hover{
   text-decoration: underline;

}
a{
   color: black;
   text-decoration: none
}
.gitavatar{
   width: 30px;
   height: 30px;
   border-radius: 50%;
}
.material-icons{
}
#icon{
   position: absolute;
   padding-right: 490px;
}

/* logo and search */

main{
   padding-bottom: 100px;
}
.container{
   min-height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
   .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 95px;
      margin-bottom: 25px;
   }
   form{
      display: flex;
      position: static;
      align-items: center;
      justify-content: center;
      padding: 20px;
      width: 400px;
      height: 10px;
   }
   .search-entry{
      max-width: 580px;
      height: 30px;
   }
   input{
      width: 80%;
      font-size: 18px;
      padding: 0px 20px 0px 25px;
      border-left: 22px;
      margin-left: 15px;
      text-align: left;

   }
   .searchbox{
      position: relative;
      align-content: center;
      justify-content: center;
   }
   #search{
      display: flex;
      position: absolute;
      align-content: center;
      justify-content: center;
      width: 500px;
      height: 40px;
      border-radius: 25px;
   }
   .search{
      display: flex;
      align-items: center;
      justify-content: center;
      display: inline-block;
      margin: 10px;
      height: 35px;
      border-radius: 5px;
      background-color: whitesmoke;
      font-size: 13px;
      font-family: inherit;

   }
   .lucky{
      display: flex;
      align-items: center;
      justify-content: center;
      display: inline-block;
      margin: 10px;
      height: 35px;
      border-radius: 5px;
      background-color: whitesmoke;
      font-size: 13px;
      font-family: inherit;
   }

   /* footer navbar */

   .footer{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 5px;
      border: 1px solid;
      border-color: #dadada;
      background-color: #f2f2f2;

   }
   .footer-link{
display: block;
padding: 10px 0px 10px 40px;
   }
   .left-nav{
      display: flex;
   }
   .right-nav{
display: flex;
margin-right: 30px;
   }
