:root{

}

body{
   font-family: Arial, sans-serif;
}
.head{
display: block;
flex-direction: row;
min-height: 65px;
}
.topnav{
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
}
ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
li{
   display: inline;
   padding: 10px;
   color: black;
}
a:hover{
   text-decoration: underline;

}
a{
   color: black;
   text-decoration: none
}
.nav1{
float: left;
text-align: center;
padding: 5px;
margin: 0px 5px;
}
.nav2{
float: right;
text-align: center;
padding: 5px;
margin: 0px 5px;
}
.gitavatar{
   width: 30px;
   height: 30px;
   border-radius: 50%;
}
.material-icons{
}
#icon{
   position: absolute;
   padding-right: 490px;
}

/* logo and search */

main{
   padding-bottom: 100px;
}
.container{
   min-height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
   .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 270px;
      height: 95px;
      margin-bottom: 25px;
   }
   form{
      display: flex;
      position: static;
      align-items: center;
      justify-content: center;
      padding: 20px;
      width: 400px;
      height: 10px;
   }
   .search-entry{
      max-width: 580px;
      height: 30px;
   }
   input{
      width: 80%;
      font-size: 18px;
      padding: 0px 20px 0px 25px;
      border-left: 22px;
      margin-left: 15px;
      text-align: left;

   }
   .searchbox{
      position: relative;
      align-content: center;
      justify-content: center;
   }
   #search{
      display: flex;
      position: absolute;
      align-content: center;
      justify-content: center;
      width: 500px;
      height: 40px;
      border-radius: 25px;
   }
   .search{
      display: flex;
      align-items: center;
      justify-content: center;
      display: inline-block;
      margin: 10px;
      height: 35px;
      border-radius: 5px;
      background-color: whitesmoke;
      font-size: 13px;
      font-family: inherit;

   }
   .lucky{
      display: flex;
      align-items: center;
      justify-content: center;
      display: inline-block;
      margin: 10px;
      height: 35px;
      border-radius: 5px;
      background-color: whitesmoke;
      font-size: 13px;
      font-family: inherit;
   }
